@import '../../assets/danzerpress-layouts/danzerpress-layouts.scss';

#main-nav {
    min-height: 60px;
    // background: #12c2e9;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to left, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to left, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    box-shadow: 0px 1px 15px #00000099;

    @include row();
    .wrap {
        @include row();
        max-width: 1400px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    a {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .55px;
    }

    .user-info > * {
        margin-right: 20px;

        &:not(button) {
            color: white;
        }
    }
}