@import '../../assets/danzerpress-layouts/danzerpress-layouts.scss';

#main-nav {
    min-height: 60px;
    background: darkgrey;
    @include row();
    .wrap {
        @include row();
        max-width: 1400px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .user-info > * {
        margin-right: 20px
    }
}